<header
  class="sticky top-0 z-50 -mb-6 transition-all duration-300
         border-b border-slate-200 dark:border-[#282e39]"
  [ngClass]="{
    'bg-background-light dark:bg-[#111318] shadow-sm': !scrolled,
    'bg-background-light/80 dark:bg-[#111318]/80 backdrop-blur-md shadow-md': scrolled
  }">

  <div class="flex items-center justify-between px-6 py-3 md:px-10">

    <!-- IZQUIERDA: Logo + Navegación -->
    <div class="flex items-center gap-8">

      <!-- LOGO -->
      <div class="flex items-center gap-3">
        <img
          src="src/assets/logo-navbar.png"
          alt="GoFly logo"
          class="h-8 w-8 object-contain transition-transform hover:scale-105"
        />

        <h2 class="text-lg font-bold tracking-tight text-[#111318] dark:text-white">
          Go<span class="text-primary">Fly</span>
        </h2>
      </div>

      <!-- Sobre nosotros -->
      <a routerLink="/info/sobre-nosotros" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        Sobre nosotros
      </a>


    </div>

    <!-- DERECHA: Acción contextual -->
    <div class="flex items-center gap-4 text-sm">

      <span class="text-[#637588] dark:text-[#9da6b9] hidden sm:inline">
        {{ isLogin ? '¿No tienes una cuenta?' : '¿Ya tienes una cuenta?' }}
      </span>

      <button
        (click)="goToAuthAction()"
        class="h-9 px-4 rounded-lg
               bg-primary/10 hover:bg-primary/20
               text-primary font-bold
               transition-colors">
        {{ isLogin ? 'Registrarse' : 'Iniciar sesión' }}
      </button>

    </div>

  </div>
</header>
